# ----------------------------
# CORE
# ----------------------------
torch==2.4.0
accelerate==0.33.0
transformers==4.45.2
datasets==3.0.1
sentencepiece
tiktoken
protobuf==4.25.3

# ----------------------------
# QLoRA / PEFT
# ----------------------------
# bitsandbytes==0.43.1           # CPU safe (sin CUDA obligatorio)
peft==0.12.0

# ----------------------------
# UTILIDADES
# ----------------------------
pyyaml
numpy
pandas
rich

# ----------------------------
# TOKENIZACIÓN / PREPROC
# ----------------------------
scikit-learn
